.background {
  background-color: skyblue;
  position: relative;
  width: 2000px;
  height: 600px;
  animation: dayNight 20s linear infinite;
  z-index: 0;
  overflow: hidden;
}

.sun-moon {
  position: absolute;
  top: 50px;
  right: 200px;
  width: 85px;
  height: 90px;
  border-radius: 50%;
  background-color: white;
  z-index: 10;
  animation: sunToMoon 20s linear infinite;
}

@keyframes sunToMoon {
  0%, 100% {
    background-color: yellow;
    box-shadow: 0 0 30px 15px yellow;
  }
  50% {
    background-color: white;
    box-shadow: 0 0 25px 15px white;
  }
}
@keyframes dayNight {
  0%, 100% {
    background-color: skyblue;
  }
  50% {
    background-color: #001f3f; 
  }
}
/* .cloud{
  position: absolute;
  top: 60px;
  left: -1000px;
  width: 100%;
  height: 200px;
  z-index: 4;
  pointer-events: none;
}
.cloud1,.cloud2{
  position: absolute;
}
.cloud1{
  top: 0;
  left: 100%;
  animation: cloud 30s linear infinite;
}
.cloud2{
  top: 80px;
  left: 100%;
  animation: cloud 50s linear infinite;
}
/* .cloud1 .c1,.cloud1 .c2,.cloud1 .c3,.cloud1 .c4,
.cloud2 .c1,.cloud2 .c2,.cloud2 .c3,.cloud2 .c4{
  position: absolute;
  background-color: white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  box-shadow: 0 0 20px rgba(255,255,255,0.5);
} 
.cloud1 .c1{left: 0px;top: 10px;}
.cloud1 .c2{left: 30px;top: 0px;}
.cloud1 .c3{left: 60px;top: 10px;}
.cloud1 .c4{left: 30px;top: 30px;}
.cloud2 .c1{left: 0px;top: 15px;}
.cloud2 .c2{left: 30px;top: 5px;}
.cloud2 .c3{left: 60px;top: 15px;}
.cloud2 .c4{left: 30px;top: 35px;}
@keyframes cloud{
  0%{
    left:100%
  }
  100%{left:-200px
  }
}  */


.tree1 {
  position: absolute;
  bottom: 300px;
  left: 50px;
  z-index:2;
}

.tree2 {
  position: absolute;
  bottom: 300px;
  left: 150px;
  z-index:2;
}

.trunk {
  position: absolute;
  top: 60px;
  left: 30px;
  width: 20px;
  height: 60px;
  background-color: rgba(165, 42, 42, 0.785);
  z-index:3;
}

.leaf1, .leaf2, .leaf3, .leaf4, .leaf5 {
  position: absolute;
  width: 50px;
  height: 60px;
  background-color: rgb(93, 198, 93);
  border-radius: 50%;
  z-index:4;
}

.leaf1 {
  top: 0;
  left: 20px;
}

.leaf2 {
  top: 20px;
  left: 0;
}

.leaf3 {
  top: 20px;
  left: 40px;
}

.leaf4 {
  top: -25px;
  left: 10px;
}

.leaf5 {
  top: -20px;
  left: 30px;
}

.grass {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: rgb(5, 117, 5);
  z-index:1;
}


.road {
  position: absolute;
  bottom: 100px;
  width: 100%;
  height: 80px;
  background-color: rgb(12, 12, 12);
   z-index:2;
}

.line1, .line2, .line3, .line4, .line5, .line6,
.line7, .line8, .line9, .line10, .line11, .line12 ,.line13, .line14, .line15 {
  position: absolute;
  top: 35px;
  width:80px;
  height: 10px;
  background: white;
   z-index:3;
}

.line1{ left: 40px; }
.line2{ left: 140px; }
.line3{ left: 240px; }
.line4{ left: 340px; }
.line5{ left: 440px; }
.line6{ left: 540px; }
.line7{ left: 640px; }
.line8{ left: 740px; }
.line9{ left: 840px; }
.line10{ left: 940px; }
.line11{ left: 1040px; }
.line12{ left: 1140px; }
.line13{ left: 1240px; }
.line14{ left: 1340px; }
.line15{ left: 1440px; }
.line16{ left: 1540px; }
 
.car {
  position: absolute;
  bottom: 120px;
  left: 200px;
  width: 200px;
  height: 145px;
 z-index:5;
 animation:moveCar 12s linear;
}
.car img{
    width:100%;
    height:150px;
}
@keyframes moveCar {
    0%{left:1000px;}
      100%{left:200px;}
    
}
.bird{
  position: absolute;
  top: 50px;
  left: -100px;
  width: 100px;
  height: 50px;
  z-index: 10;
  animation: bird 12s linear;
}
 .bird img{
  width: 100%;
  height: 100px;
 }
 @keyframes bird{
  0%{
    left: -120px;
  }
  100%{
    left: 2100px;
  }
 }